:root{
    /* COLORS */
    /* Primary */
    --Tomato: hsl(4, 100%, 67%);
    /* Neutral */
    --Dark_Slate_Grey: hsl(234, 29%, 20%);
    --Charcoal_Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--Dark_Slate_Grey);
    font-family: 'Roboto';
}
body{
    display: grid;
    place-content: center;
    
}
.container{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    h1{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .first{
        display: flex;
        flex-direction: column;
        .mobileImg{
            max-width: 100%;
        }
        .firstText{
            padding: 35px;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            ul{
                margin-top: 20px;
                margin-left: 30px;
                margin-bottom: 30px;
                li{
                    padding-left: 10px;
                    padding-bottom: 10px;
                    list-style-image: url('../images/icon-list.svg');
                }
            }
            h3{
                margin-bottom: 10px;
            }
            form{
                max-width: 100%;
            }
            #email{
                padding: 15px;
                min-width: 100%;
                border-radius: 10px;
                margin-bottom: 25px;
                box-sizing: border-box;
                border: 1.5px solid var(--Grey); 
            }
            #message{
                
                padding: 15px;
                resize:vertical;
                min-width: 100%;
                border-radius: 10px;
                margin-bottom: 25px;
                box-sizing: border-box;
                border: 1.5px solid var(--Grey); 
            }
            #submit{
                border: 0;
                padding: 15px;
                min-width: 100%;
                font-weight: 700;
                color: var(--White);
                border-radius: 10px;
                background-color: var(--Dark_Slate_Grey);
            }
            #submit:hover{
                cursor: pointer;
                background: linear-gradient(90deg, rgba(255,98,87,1) 50%, rgba(254,159,93,1) 100%);
                box-shadow: 0 4px 15px 0 rgba(255, 98, 87, 0.363), 0 6px 20px 0 rgba(255, 98, 87, 0.363);
            }
        }
    }
    .second{
        display: none;
        padding: 20px;
        padding-top: 200px;
        flex-direction: column;
        img{
            max-width: 60px;
            margin-bottom: 30px;
        }
        span{
            font-weight: 700;
        }
        button{
            border: 0;
            padding: 15px;
            margin-top: 300px;
            font-weight: 500;
            color: var(--White);
            border-radius: 5px;
            background-color: var(--Dark_Slate_Grey);
        }
        button:hover{
            cursor: pointer;
            background: linear-gradient(90deg, rgba(255,98,87,1) 50%, rgba(254,159,93,1) 100%);
            box-shadow: 0 4px 15px 0 rgba(255, 98, 87, 0.363), 0 6px 20px 0 rgba(255, 98, 87, 0.363);
        }
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--Tomato); }

@media only screen and (min-width:800px){
    body{
        background-color: var(--Dark_Slate_Grey);
        min-height: 100vh;
    }
    .container{
        padding: 20px;
        max-width: 800px;
        border-radius: 30px;
        background-color: var(--White);
        .first{
            flex-direction: row-reverse;
            .mobileImg{
                content: url("../images/illustration-sign-up-desktop.svg");
            }
        }
        .second{
            padding: 20px;
            max-width: 300px;
            button{
                margin-top: 30px;
            }
        }
    }
    .attribution{color: var(--White);}
}